@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
@import "src/assets/styles/extends";


.table-container {
  overflow: hidden;
  border-radius: 12px;
}

.table-wrapper {
  @extend .scroll-bar;

  width: 100%;
  border: 1px solid grey;
  border-radius: 12px;
  overflow: auto;
  cursor: default;
}

.table {
  position: relative;
  width: 100%;
  border-spacing: 0;

  & thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $blue;
  }

  & th, td {
    border-bottom: 1px solid grey;
  }

  & tr:last-child {
    & td {
      border-bottom: revert;
    }
  }
}

.table-header-item {
  padding: 16px 20px;
  text-align: left;

  &__title {
    @include font-base(14px, 600, 19px, normal, $open-sans);

    color: $grey;
  }
}

.table-row {
  height: 49px;
  padding: 6px 0;
}

.table-cell {
  padding: 16px 20px;
}

.table-text {
  @include font-base(14px, 400, 19px, normal, $open-sans);

  color: $grey;
}
