<div class="container">
  <button
    class="add-btn"
    mat-raised-button
    color="primary"
    (click)="openAddEditProductModal()"
  >
    Add product
  </button>

  <ng-container *ngIf="products$ | async as products">
    <app-table
      [tableHeaders]="PRODUCTS_TABLE_HEADERS"
      [tableData]="products"
      [cellTemplateRef]="cellTemplateRef"
      [trackByFn]="trackByProducts"
    ></app-table>
    <ng-template #cellTemplateRef let-tableItem>
      <td class="table-cell">
        <p class="table-text">
          {{ tableItem.id }}
        </p>
      </td>
      <td class="table-cell">
        <p class="table-text">
          {{ (tableItem.name | titlecase) || '-' }}
        </p>
      </td>
      <td class="table-cell">
        <p class="table-text">
          {{ (tableItem.manufacture_date | date: 'MM.dd.yyyy') || '-' }}
        </p>
      </td>
      <td class="table-cell">
        <p class="table-text">
          {{ (tableItem.expiration_date | date: 'MM.dd.yyyy') || '-' }}
        </p>
      </td>
      <td class="table-cell">
        <p class="table-text truncate">
          {{ tableItem.comment || '-' }}
        </p>
      </td>
      <td class="table-cell">
        <div class="actions">
          <mat-icon
            class="actions icon"
            [fontIcon]="'edit'"
            (click)="openAddEditProductModal(tableItem)"
          ></mat-icon>
          <mat-icon
            class="actions icon"
            [fontIcon]="'delete'"
            (click)="openDeleteModal(tableItem.id)"
          ></mat-icon>
        </div>
      </td>
    </ng-template>
  </ng-container>
</div>
