.container {
  padding: 100px 80px;

  & .add-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 16px;
  }

  & .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.icon {
      cursor: pointer;
    }
  }
}
