<div
  class="count-drop-down"
  [matMenuTriggerFor]="menu"
  (click)="$event.stopImmediatePropagation()"
  (menuOpened)="handleOpenMenu(true)"
  (menuClosed)="handleOpenMenu(false)"
>
  <div class="count" [class.active]="isMenuOpen">+ {{ data.length - 1 }}</div>
  <mat-menu #menu="matMenu" class="drop-down-menu">
    <header class="header">
      {{ headerName || '-' }}
      <app-icon class="icon" [name]="'close'"></app-icon>
    </header>
    <main class="main">
      <ng-container
        *ngFor="let elem of data; first as isFirst; trackBy: trackByFn"
      >
        <p *ngIf="!isFirst" class="main-item">
          {{ elem.display }}
        </p>
      </ng-container>
    </main>
  </mat-menu>
</div>
