@import "src/assets/styles/vars";

.scroll-bar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-2;
    border-radius: 4px;
  }
}
