@import "fonts";

// COLORS
$white: #FFFFFF;
$blue: #BCCEFF;
$red: #DD1C1C;
$red-bg: #FEFAFA;
$grey: #3C3C3C;
$grey-2: #CACACA;
$inactive: #EFF1F4;
$inactive-2: #E6ECF5;

// TYPOGRAPHY
$font-family-base: $roboto;
$font-size-base: 17px;
$line-height-base: 21px;




