@import "fonts";

// COLORS
$white: #FFFFFF;
$blue: #BCCEFF;
$grey-1: #9F9F9F;
$grey-2: #CACACA;
$grey-3: #3C3C3C;
$grey-4: #FAFAFA;
$grey-5: #6F767B;
$grey-6: #FCFCFC;
$grey-7: #8C92A0;
$inactive: #EFF1F4;
$inactive-2: #E6ECF5;

// TYPOGRAPHY
$font-family-base: $roboto;
$font-size-base: 17px;
$line-height-base: 21px;




